<head>
  <meta charset="UTF-8" />
  <title>{% if page.id == "home" %}{{ site.title }}{% else %}{{ page.title }} &mdash; {{ site.title }}{% endif %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.metadescription }}{% endif %}">

  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="article:author"        content="{{ site.url }}/" />
  {% endif %}

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="{{ site.url }}/rss.xml" />
  <link rel="alternate" type="application/json"    title="{{ site.title }} JSON feed" href="{{ site.url }}/feed.json" />

  <meta name="twitter:card"        content="summary_large_image" />
  {% if site.twitter %}
    <meta name="twitter:site"    content="@{{ site.twitter }}" />
    <meta name="twitter:creator" content="@{{ site.twitter }}" />
  {% endif %}
  <meta name="twitter:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.metadescription }}{% endif %}">

  <meta property="og:site_name"   content="{{ site.title }}">
  <meta property="og:url"         content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.metadescription }}{% endif %}">
  <meta property="og:type"        content="{% if page.date %}article{% else %}website{% endif %}">
</head>
