---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  {{ content }}
</article>

{% assign notes = site.notes | sort: 'date' | reverse %}
{% assign current_year = "" %}

<ul class="post-list">
  {% for post in notes %}
    {% assign year = post.date | date: "%Y" %}
    {% if year != current_year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 style="margin-top: 1.5em;">{{ year }}</h3>
      <ul class="post-list">
      {% assign current_year = year %}
    {% endif %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d" }}</span>
      <span class="post-title"><a href="{{ post.url }}" class="internal-link">{{ post.title }}</a></span>
    </li>
  {% endfor %}
</ul>
